<% error(@user) %>
<table class="table table-striped">
  <tr>
    <th><%= user.label(:firstname) %></th>
    <td><%= user.text_field(:firstname) %></td>
  </tr>
  <tr>
    <th><%= user.label(:surname) %></th>
    <td><%= user.text_field(:surname) %></td>
  </tr>
  <tr>
    <th><%= user.label(:email) %></th>
    <td><%= user.text_field(:email) %></td>
  </tr>
  <tr>
    <th><%= user.label(:password) %></th>
    <td><%= user.text_field(:password) %></td>
  </tr>
</table>