<div>
  <h1>Add new User</h1>
  <%= link_to("Return", '/admin/index', :class => "btn btn-mini btn-primary")%>

  <%= form_for(:user, :url => {:action => 'create_user'}) do |user| %>

      <%= render(:partial => 'form', :locals => {:user => user}) %>

      <div class="center">
         <%= submit_tag("create", :class => "btn btn-primary") %>
      </div>
  <% end %>
      </div>