<div>
  <h1>Edit User</h1>
  <%= link_to("Return", '/admin/index', :class => "btn btn-mini btn-primary") %>

  <%= form_for(:user, :url => {:action => 'update'}) do |user| %>

      <%= render(:partial => 'form', :locals => {:user => user}) %>

      <div class="center">
         <%= submit_tag("edit", :class => "btn btn-primary") %>
      </div>
  <% end %>
</div>