<div>
  <h1>Panel Admin</h1>
  <%= link_to("Add new User", {:action => "create"}, :class => "btn btn-mini btn-primary")%>
  <table class="table table-striped">
    <tr class="info">
      <th>FirstName</th>
      <th>SurName</th>
      <th>E-mail</th>
      <th>Password</th>
      <th>Action</th>
    </tr>
    <% @users.each do |user| %>
        <tr>
          <td><%= user.firstname %></td>
          <td><%= user.surname %></td>
          <td><%= user.email %></td>
          <td><%= truncate(user.password_digest, :lenght=>30) %></td>
          <td>
            <%= link_to("Show", {:action => 'show', :id => user.id}, :class => "btn btn-xs btn-default" ) %>
            <%= link_to("Edit", {:action => 'edit', :id => user.id}, :class => "btn btn-xs btn-primary" ) %>
            <%= link_to("Delete", {:action => 'delete', :id => user.id }, :class => "btn btn-xs btn-danger", :id => 'delete') %>
            <button class="btn btn-xs btn-success show_details" data-email="<%= Base64.urlsafe_encode64(user.email) %>">Addtional Details</button>

  </td>
  </tr>
  <% end %>
  </table>
</div>
<script>
  $('#delete').click(function () {
    if (!window.confirm("Are you sure to delete this user?")) {
        return false;
    }
  });
</script>

