<div>
  <h1>Panel Admin</h1>
  <%= link_to("Return", '/admin/index', :class => "btn btn-mini btn-primary")%>
  <table class="table table-striped">
    <tr class="info">
      <th>FirstName</th>
      <td><%= @user.firstname %></td>
    </tr>
    <tr>
      <th>SurName</th>
      <td><%= @user.surname %></td>
    </tr>
    <tr>
      <th>E-mail</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>Password</th>
      <td><%= @user.password_digest %></td>
    </tr>
  </table>
</div>