<h3>Name <%= Base64.urlsafe_decode64(params[:id]) %></h3><button class="btn btn-xs btn-danger close-popup">x</button>
<table class="table table-striped addtional-email-table">
  <% @userAddEmail.each do |email| %>
      <tr>
        <td><%= email.id %></td>
        <td><%= email.addtonal_email %></td>
        <td>
          <button class="btn btn-xs btn-danger delete-addtional-email" data-id="<%= email.id %>">x</button>
        </td>
      </tr>
  <% end %>
</table>
<%= form_for :addtionalEmail, :url => {:action => 'create_addtional_email'}, :remote => true do |addtionalEmail| %>
    <%= addtionalEmail.hidden_field(:main_email, :value => Base64.urlsafe_decode64(params[:id])) %>
    <div class="center">
      <%= addtionalEmail.text_field(:addtonal_email) %>
      <%= addtionalEmail.submit "create", :class => "btn btn-primary create-addtional-email" %>
    </div>
<% end %>
<script>    $('.delete-addtional-email').click(function () {
    $.ajax({
        url: '/addtional_email/delete/' + $(this).attr('data-id'),
        type: 'POST',
        success: function (res) {
        }
    });
    $(this).parent().parent().hide();
});
$('.close-popup').click(function () {
    $('.popup-controll').html('');
    $('.popup-controll').hide();
    $('.container').attr('style','filter:blur(0)');
});
</script>