<div class="login">
  <%= form_tag(:action => 'loging') do %>
      <table>
        <tr>
          <td><%= label_tag(:email, "Email: ")%></td>
          <td><%= text_field_tag(:email)%></td>
        </tr>
        <tr>
          <td><%= label_tag(:password, "Password: ")%></td>
          <td><%= password_field_tag(:password)%></td>
        </tr>
        <tr>
          <td></td>
          <td><%= submit_tag("LogIn")%></td>
        </tr>
      </table>
  <% end %>
</div>