<% if object && object.errors.size > 0 %>
<div class="bg-danger">
  <tr class="table">
    <tr class="danger">
      <td>There's error in case of save record to database, amount of errors: <%= object.errors.size %>
      <br />
        for fields:
      </td>
    </tr>
      <% object.errors.full_messages.each do |warning| %>
      <tr class="warning">
        <td><%= warning %></td>
      </tr>
        <% end %>
  </tr>
  </table>
</div>
<% end %>