/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
.popup-controll {
  position:fixed;
  display:none;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 80%;
  h3{
    display: block;
    width:80%;
    float:left;
  }
  button.close-popup{
    width:20%;
    float: right;
    max-width:38px;
  }
  .delete-addtional-email{
    float:right;
  }
  #addtionalEmail_addtonal_email{
    width:100%;
  }
  .create-addtional-email{
    width: 100%;
  }
}