<!DOCTYPE html>
<html>
<head>
  <title>SimpleAdminPanelRoR</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container">
  <% if session[:user] != nil %>
      <div>
        <%= link_to("Logout", {:controller => 'access', :action => 'logout'}, :class => "btn btn-default") %>
      </div>
  <% end %>
  <% if !flash[:notice].blank? %>
      <div class="alert alert-success text-center">
        <%= flash[:notice] %>
      </div>
  <% end %>
  <%= yield %>
</div>
<div class="popup-controll"></div>
</body>
</html>
